@{
    ViewData["Title"] = "Maintenance";
}


<div class="maintanence-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="order-2 order-lg-1 col-lg-6 mt_md--40 mt_sm--40">
                <div class="content">
                    <div class="logo">
                        <a href="#">
                            <img class="dark-logo" src="/images/logo/logo-black.png" alt="Logo Images">
                            <img class="light-logo" src="/images/logo/logo-white2.png" alt="Logo Images">
                        </a>
                    </div>
                    <h1 class="title">This project is under construction</h1>
                    <h5>Subscribe to our weekly newsletter</h5>
                    <p>No spam, notifications only about news products, updates.</p>
                    <div class="inner d-flex align-items-center flex-wrap">
                        <h5 class="follow-title mb--0 mr--20">Follow Us</h5>
                        <ul class="social-icon color-tertiary md-size justify-content-start">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <form action="#" class="subscription-form">
                        <div class="form-group">
                            <input type="text" name="subscription-email" placeholder="Enter your email">
                            <button class="axil-button button-rounded"><span>Subscribe</span></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="order-1 order-lg-2 col-lg-5 offset-lg-1">
                <div class="thumbnail">
                    <img src="/images/others/maintenence.png" alt="Images">
                </div>
            </div>
        </div>
    </div>
</div>

