
<header class="header axil-header  header-light header-sticky ">
    <div class="header-wrap">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12">
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index">
                        <img class="dark-logo" src="/images/logo/logo-black.png" alt="Internet Speed logo">
                        <img class="light-logo" src="/images/logo/logo-white2.png" alt="Internet Speed logo">
                    </a>
                </div>
            </div>

            <div class="col-xl-6 d-none d-xl-block">
                <div class="mainmenu-wrapper">
                    <nav class="mainmenu-nav">

                        <ul class="mainmenu">
                        <li class="menu-item">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                                
                        </li>
                        <li class="menu-item">
                            <a asp-controller="Home" asp-action="SpeedTest">Speed Test</a>
                                
                        </li>
                        <li class="menu-item-has-children megamenu-wrapper">
                        <a asp-controller="Home" asp-action="Maintenance">News</a>
                        <ul class="megamenu-sub-menu">
                        <li class="megamenu-item">
                        <div class="axil-vertical-nav">
                            <ul class="vertical-nav-menu">
                                <li class="vertical-nav-item active">
                                    <a class="hover-flip-item-wrapper" href="#tab1">
                                        <span class="hover-flip-item">
                                            <span data-text="ISP Speed & Comparisons">ISP Speed & Comparisons</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="vertical-nav-item">
                                    <a class="hover-flip-item-wrapper" href="#tab2">
                                        <span class="hover-flip-item">
                                            <span data-text="Internet Optimization Tips">Internet Optimization Tips</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="vertical-nav-item">
                                    <a class="hover-flip-item-wrapper" href="#tab3">
                                        <span class="hover-flip-item">
                                            <span data-text="Tech & Network Innovations">Tech & Network Innovations</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="axil-vertical-nav-content">

                        <div class="axil-vertical-inner tab-content" id="tab1" style="display: block; opacity: 1;">
                            <div class="axil-vertical-single">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="content-block image-rounded">
                                            <div class="post-thumbnail mb--20">
                                                <a asp-controller="Home" asp-action="Maintenance">
                                                    <img class="w-100" src="/images/others/1.png" alt="Post Images">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-cat">
                                                    <div class="post-cat-list">
                                                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Maintenance">
                                                            <span class="hover-flip-item">
                                                                <span data-text="Best Internet Providers in 2025">Best Internet Providers in 2025</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h5 class="title"><a asp-controller="Home" asp-action="Maintenance">Ranking the fastest ISPs by region.</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="content-block image-rounded">
                                            <div class="post-thumbnail mb--20">
                                                <a asp-controller="Home" asp-action="Maintenance">
                                                    <img class="w-100" src="/images/others/2.png" alt="Post Images">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-cat">
                                                    <div class="post-cat-list">
                                                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Maintenance">
                                                            <span class="hover-flip-item">
                                                                <span data-text=" 5G vs Fiber: Which is Faster?"> 5G vs Fiber: Which is Faster?</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h5 class="title"><a asp-controller="Home" asp-action="Maintenance"> A comparison of new broadband technologies.</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="content-block image-rounded">
                                            <div class="post-thumbnail mb--20">
                                                <a asp-controller="Home" asp-action="Maintenance">
                                                    <img class="w-100" src="/images/others/3.png" alt="Post Images">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-cat">
                                                    <div class="post-cat-list">
                                                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Maintenance">
                                                            <span class="hover-flip-item">
                                                                <span data-text="Real User Speed Tests">Real User Speed Tests</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h5 class="title"><a asp-controller="Home" asp-action="Maintenance">Community-driven ISP speed test results and reviews.</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="axil-vertical-inner tab-content" id="tab2" style="display: none; opacity: 1;">
                            <div class="axil-vertical-single">
                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="content-block image-rounded">
                                            <div class="post-thumbnail mb--20">
                                                <a asp-controller="Home" asp-action="Maintenance">
                                                    <img class="w-100" src="/images/others/4.png" alt="Post Images">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-cat">
                                                    <div class="post-cat-list">
                                                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Maintenance">
                                                            <span class="hover-flip-item">
                                                                <span data-text="How to Reduce Ping & Latency">How to Reduce Ping & Latency</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h5 class="title"><a asp-controller="Home" asp-action="Maintenance">Optimizing your connection for gaming & streaming.</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="content-block image-rounded">
                                            <div class="post-thumbnail mb--20">
                                                <a asp-controller="Home" asp-action="Maintenance">
                                                    <img class="w-100" src="/images/others/5.png" alt="Post Images">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-cat">
                                                    <div class="post-cat-list">
                                                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Maintenance">
                                                            <span class="hover-flip-item">
                                                                <span data-text="Best Routers for Fast Wi-Fi">Best Routers for Fast Wi-Fi</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h5 class="title"><a asp-controller="Home" asp-action="Maintenance">A guide to choosing high-performance routers.</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="content-block image-rounded">
                                            <div class="post-thumbnail mb--20">
                                                <a asp-controller="Home" asp-action="Maintenance">
                                                    <img class="w-100" src="/images/others/6.png" alt="Post Images">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-cat">
                                                    <div class="post-cat-list">
                                                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Maintenance">
                                                            <span class="hover-flip-item">
                                                                <span data-text="Troubleshooting Slow Internet">Troubleshooting Slow Internet</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h5 class="title"><a asp-controller="Home" asp-action="Maintenance">Fixing common speed issues at home.</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="axil-vertical-inner tab-content" id="tab3" style="display: none; opacity: 1;">
                            <div class="axil-vertical-single">
                                <div class="row">

                                    <div class="col-lg-4">
                                        <div class="content-block image-rounded">
                                            <div class="post-thumbnail mb--20">
                                                <a asp-controller="Home" asp-action="Maintenance">
                                                    <img class="w-100" src="/images/others/7.png" alt="Post Images">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-cat">
                                                    <div class="post-cat-list">
                                                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Maintenance">
                                                            <span class="hover-flip-item">
                                                                <span data-text=" The Future of 10G Internet"> The Future of 10G Internet</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h5 class="title"><a asp-controller="Home" asp-action="Maintenance">What’s next after fiber optics?</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="content-block image-rounded">
                                            <div class="post-thumbnail mb--20">
                                                <a asp-controller="Home" asp-action="Maintenance">
                                                    <img class="w-100" src="/images/others/8.png" alt="Post Images">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-cat">
                                                    <div class="post-cat-list">
                                                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Maintenance">
                                                            <span class="hover-flip-item">
                                                                <span data-text="AI in Networking"> AI in Networking</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h5 class="title"><a asp-controller="Home" asp-action="Maintenance">How AI improves internet performance.</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="content-block image-rounded">
                                            <div class="post-thumbnail mb--20">
                                                <a asp-controller="Home" asp-action="Maintenance">
                                                    <img class="w-100" src="/images/others/9.png" alt="Post Images">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-cat">
                                                    <div class="post-cat-list">
                                                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Maintenance">
                                                            <span class="hover-flip-item">
                                                                <span data-text="Satellite Internet Revolution">Satellite Internet Revolution</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h5 class="title"><a asp-controller="Home" asp-action="Maintenance">Updates on Starlink, OneWeb, and new players.</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        </li>
                        </ul>
                        </li>
                        <li class="menu-item"><a asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                        <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                        <li><a asp-controller="Home" asp-action="TermsOfService">Terms Of Service</a></li>
                        </ul>

                    </nav>
                </div>
            </div>

            <div class="col-xl-3 col-lg-8 col-md-8 col-sm-9 col-12">
                <div class="header-search text-end d-flex align-items-center">
                    <form class="header-search-form d-sm-block d-none">
                        <div class="axil-search form-group">
                            <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                    <div class="mobile-search-wrapper d-sm-none d-block">
                        <button class="search-button-toggle"><i class="fal fa-search"></i></button>
                        <form class="header-search-form">
                            <div class="axil-search form-group">
                                <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    <ul class="metabar-block">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="icon"><a asp-controller="Home" asp-action="Maintenance"><i class="fas fa-bookmark"></i></a></li>
                            <li class="icon"><a asp-controller="Home" asp-action="Maintenance"><i class="fas fa-bell"></i></a></li>
                            <li><a asp-controller="Home" asp-action="Maintenance"><img src="/images/others/author.png" alt="Author Images"></a></li>
                        }
                        else
                        {
                            <li><a class="axil-button button-rounded btn-primary btn-sm">Login</a></li>
                        }
                    </ul>
                    <div class="hamburger-menu d-block d-xl-none">
                        <div class="hamburger-inner">
                            <div class="icon"><i class="fal fa-bars"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<div class="popup-mobilemenu-area">
    <div class="inner">
        <div class="mobile-menu-top">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img class="dark-logo" src="/images/logo/logo-black.png" alt="Logo Images">
                    <img class="light-logo" src="/images/logo/logo-white2.png" alt="Logo Images">
                </a>
            </div>
            <div class="mobile-close">
                <div class="icon">
                    <i class="fal fa-times"></i>
                </div>
            </div>
        </div>
        <ul class="mainmenu">
            <li class="menu-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
                                
            </li>
            <li class="menu-item">
                <a asp-controller="Home" asp-action="SpeedTest">Speed Test</a>
                                
            </li>
            <li class="menu-item-has-children">
                <a asp-controller="Home" asp-action="Maintenance">News</a>
                <ul class="axil-submenu">
                    <li>
                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Maintenance">
                            <span class="hover-flip-item">
                                <span data-text="ISP Speed & Comparisons">ISP Speed & Comparisons</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Maintenance">
                            <span class="hover-flip-item">
                                <span data-text="Internet Optimization Tips">Internet Optimization Tips</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="hover-flip-item-wrapper" asp-controller="Home" asp-action="Maintenance">
                            <span class="hover-flip-item">
                                <span data-text="Tech & Network Innovations">Tech & Network Innovations</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            <li><a asp-controller="Home" asp-action="TermsOfService">Terms Of Service</a></li>
        </ul>
    </div>
</div>