@{
    ViewData["Title"] = "Not Found";
}

<div class="error-area bg_image--4 bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner">
                    <img src="/images/others/404.png" alt="Error Images">
                    <h1 class="title">Page not found!</h1>
                    <p>Sorry, but the page you were looking for could not be found.</p>
                    <div class="back-totop-button cerchio d-inline-block" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                        <a class="axil-button button-rounded hover-flip-item-wrapper" asp-controller="Home" asp-action="Index">
                            <span class="hover-flip-item">
                                <span data-text="Back to Homepage">Back to Homepage</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section FooterMenu
{
    <div class="footer-mainmenu">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h2 class="title">Speed Test</h2>
                        <div class="inner">
                            <ul class="ft-menu-list">
                                <li><a href="#">Run Speed Test</a></li>
                                <li><a href="#">How It Works</a></li>
                                <li><a href="#">Compare ISP Speeds</a></li>
                                <li><a href="#">Ping & Latency Test</a></li>
                                <li><a href="#">WiFi Speed Test</a></li>
                                <li><a href="#">Broadband Speed Test</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h2 class="title">News & Trends</h2>
                        <div class="inner">
                            <ul class="ft-menu-list">
                                <li><a href="#">ISP Rankings</a></li>
                                <li><a href="#">5G vs Fiber</a></li>
                                <li><a href="#">Broadband Upgrades</a></li>
                                <li><a href="#">Starlink & Satellite Internet</a></li>
                                <li><a href="#">Mobile Data & 5G Plans</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h2 class="title">Guides</h2>
                        <div class="inner">
                            <ul class="ft-menu-list">
                                <li><a href="#">Improve Internet Speed</a></li>
                                <li><a href="#">Best Router Setup</a></li>
                                <li><a href="#">Fix Slow Internet</a></li>
                                <li><a href="#">Choose the Best ISP</a></li>
                                <li><a href="#">Public vs Private IP</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h2 class="title">ISP Comparisons</h2>
                        <div class="inner">
                            <ul class="ft-menu-list">
                                <li><a href="#">ISP Reviews</a></li>
                                <li><a href="#">Fastest ISPs</a></li>
                                <li><a href="#">Lowest Latency ISPs</a></li>
                                <li><a href="#">Best Upload Speeds</a></li>
                                <li><a href="#">ISP Data Caps</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h2 class="title">About</h2>
                        <div class="inner">
                            <ul class="ft-menu-list">
                                <li><a href="#">Who We Are</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                                <li><a asp-controller="Home" asp-action="TermsOfService">Terms of Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h2 class="title">Follow Us</h2>
                        <div class="inner">
                            <ul class="ft-menu-list">
                                <li><a href="https://twitter.com">Twitter</a></li>
                                <li><a href="https://facebook.com">Facebook</a></li>
                                <li><a href="https://linkedin.com">LinkedIn</a></li>
                                <li><a href="https://instagram.com">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
